---
page_title: Aldis Berjoza - Public keys
sitemap: false
---
main
  h1 My current public keys
  ul
    li
      a href="gpg.txt" GPG public key
    li
      a href="ssh.txt" SSH public key

  p.code-description GPG key fingerprint:
  code 075B A1E7 8317 5EA8 18C5 34F3 D511 2D74 0F55 44E7

  p In fact you can dig it
  code dig +short gpg.graudeejs.lv TXT

  h2 All keys


  h3 v3 key
  p
    a href="v3.txt" v3 GPG public key
  p.code-description GPG key fingerprint:
  code 075B A1E7 8317 5EA8 18C5 34F3 D511 2D74 0F55 44E7


  h3 v2 key
  p
    a href="v2.txt" v2 GPG public key
  p.code-description GPG key fingerprint:
  code 4E00 F80A FB56 49E5 35AF E56F F670 7CE4 B6E4 ECE3


  h3 v1 key
  p
    a href="v1.txt" v1 GPG public key (revoked)
  p.code-description GPG key fingerprint:
  code 9E6E 6B0A 91FD 3D29 D46C 6336 EC00 7408 4344 62BA



  h2 Need to setup GPG on new computer?
  p
    | No problem. Just follow
    a< href="https://gitlab.com/graudeejs/dot.files/raw/master/bin/setup_gpg.sh" rel="noopener noreferrer" target="_blank" these instructions
