---
show_in_menu: true
menu_title: 'About me'
menu_priority: 100
page_title: Aldis Berjoza - About me
changefreq: monthly
page_id: about_me
---
main
  h2 About Me
  p
    | I am a web systems developer with experience since 2011 to whom
      programming is not only work but also entertainment.
  p
    | From the beginning of my career I have taken a part in different large
      projects where amount of work can be measured in months and even years.
  p
    | During these years I have gained experience in system development by
      working side by side with some of the best programmers in Latvia.
  p
    | For the past 8 years, I've been mostly involved in server administration / DevOps.
      It's fun most of the time.

  p During my spare time I like to ride bicycle, take photography and read books.
