---
show_in_menu: true
menu_title: 'Par mani'
menu_priority: 100
page_title: Aldis Berjoza - Par mani
changefreq: monthly
page_id: about_me
---
main
  h2 Par mani
  p
    | Esmu web sistēmu programmētājs ar pieredzi kopš 2011. gada kam
      programmēšana ir ne tikai darbs, bet arī izklaide.
  p
    | Kopš savas karjeras sākuma esmu piedalījies vairākos lielos projektos, kuru
      apjoms mērāms mēnešos un pat gados.
  p
    | Šo gadu laikā esmu uzkrājis nenovērtējamu pieredzi sistēmu veidošanā,
      strādājot kopā ar dažiem no labākajiem programmētājiem Latvijā.

  p
    | Pēdējos 8 gadus es nodarbojos ar serveru administrēšanu / DevOps.

  p Brīvajā laikā man patīk braukt ar riteni, fotografēt un lasīt.
