section.cf
  header
    h3.project-title CakeHR - cilvēkresursu vadības sistēma
  article
    img.pure-img alt="" src="/images/projects/cake_hr.jpg"
    .content
      p.link
        strong> Saite:
        a(href="https://cake.hr/" target="_blank" rel="noopener noreferrer") cake.hr
      p.period
        strong> Periods:
        | 2016.01.17 — 2017.04.17
      p
        | Es pievienojos CakeHR projektam kā vadošais programmētās lai palīdzētu
          izstrādāt jaunus moduļus, refaktorētu veco kodu, viektu koda auditu,
          labotu kļūdas un uzlabotu kopējo koda kvalitāti.
      p
        | Šī projekta lielākais izaicinājums bija vecā koda refaktorēšana
          kvalitātes un ilgtspējības uzlabošanai.
      p Dažas liektas ko esmu darījis:
      ul
        li Pilnībā refaktorētēju un standartizēju front-end
        li Izstrādāju darbinieku novērtēšanas un attīstības plānošanas moduli
        li Izstrādāju uzņēmuma hierarhijas attēlošanas un rediģēšanas moduli
        li Izstrādāju objekta izmaiņu saglabāšanas moduli audita nolūkiem
        li Refaktorēju lielu daļu vecā koda
      p Tehnoloģijas:
      ul
        li Ruby on Rails
        li ActiveAdmin
        li PostgreSQL
        li MongoDB
        li SASS (SCSS)
        li git
        li sidekiq
        li MaterializeCSS
        li jQuery
        li d3.js
