section.cf
  header
    h3.project-title Eleving
  article
    .content
      p.link
        strong> Site:
        a href="https://eleving.com/" target="_blank" rel="noopener noreferrer"
          | eleving.com
      p.period
        strong> Periods:
        | 2021-04-20 — pašlaik
      p
        | Es pievienojos Eleving (agrāk Mogo) 2021. gada aprīlī
          Linux administratora/DevOps lomā

      p Manā ikdienas rutīnā ietilpst:
      ul
        li kvalitatīva serveru konfigurācijas rakstīšana Ansiblē
        li reagēšana uz dažādām problēmām
        li infrastruktūras menidžēšana ar Terraform
        li komunikācija as izstrādātāju komandām, lai izstrādāt un piegādāt jaunu vai uzlabotu funkcionalitāti
        li servisu migrācija no AWS uz Azure
        li tehniskā parāda mazināšana
        li servisu drošības uzlabošana
        li komunikācija ar partneriem kopēju problēmu novērsšanai

      p Ikdienā izmanoju:
      ul
        li Ansible
        li Terraform
        li git
        li gitlab/gitlab-ci
        li Prometheus/Grafana/Alertmanager
        li Loki
        li AWS
        li Azure
        li CentOS
        li Debian
        li PostgreSQL
        li MySQL
        li nginx
        li un daudz ko citu
