section.cf
  header
    h3.project-title H5 property pasūtījumu apstrādes sistēma
  article
    .content
      p.period
        strong> Periods:
        | 2017.05.01 — 2017.10.31
      p
        | Mani nolīga
        a<> href="http://www.fjordsoftware.eu/" target="_blank" rel="noopener noreferrer" Fjord Software
        | kā Vecāko Ruby on Rails izstrādātāju lai palīdzētu izstrādāt pasūtījumu
          apstrādes sistēmu vienam no lielākajiem norvēģu nekustamo īpašumu
          mārketinga risinājumu sniedzējam &mdash;
        a< href="https://h5property.com/" target="_blank" rel="noopener noreferrer" H5 Property
        | .

      p
        | Mans lielākais pārbaudījums šajā projektā bija saprast, kā strādā
          vecais kods, jo ar iepriekšējo programmētāju man tā arī neizdevās
          sazināties. Par laimi es varēju iegūt izsmeļošu informāciju par
          biznesa vajadzībām un to attīstības vēsturi.

      p Sasniegumi sešos mēnešos:
      ul
        li
          | Migrēju autorizācijas kodu no CanCanCan ruby gem uz Pundit. Tas ļāva
            paātrināt turpmāko izstrādi, tai pat laikā samazinot iespēju ieviest
            jaunas kļūdas autorizācijas kodā. Šīs izmaiņas nākotnē pamatīgi
            atvieglos autorizācijas koda auditu.
        li Izstrādāju rēķinu izrakstīšanas sistēmu.
        li
          | Izveidoju integrāciju ar
          a< href="https://quickbooks.intuit.com/global" target="_blank" rel="noopener noreferrer" Quickbooks
          | .
        li
          | Izveidoju integrāciju ar
          a href="https://www.tripletex.no/" target="_blank" rel="noopener noreferrer" Tripletex
          |.
        li
          | Pārliecināju biznesu migrēt failus no Amazon EBS uz S3, lai samazinātu
            izmaksas par vairāk nekā 50%.
        li
          | Izstrādāju kodu, kas ļāva pārvietot vairāk nekā 3TB failu no servera uz
            Amazon S3 bez sistēmas pārtraukumiem un klientu traucējumiem.
        li Izstrādāju pamatus API v2.
        li
          | Izstrādāju audita atskaiti. Es arī izdomāju viltīgu veidu, kā
            izmantot iegūtos datus, lai lietotājam atrādītu notikumu secību
            (timeline) izvēlētajam pasūtījumam. Diemžēl šo ideju es nematerializēju,
            jo pametu Fjord Software.
        li Sāku daļēji izmantot Trailblazer (Cells, form objects, operations).
        li
          | Izstrādāju integrāciju ar Goolge Vision API, kas ļāva automātiski
            klasificēt bildes.
        li Daudzos servisos uzlaboju veiktspēju.
        li un daudz ko citu

      p Tehnoloģijas:
      ul
        li Ruby on Rails
        li Mysql
        li SASS (SCSS)
        li git
        li sidekiq
        li jQuery
        li ImageMagick
        li
          a href="http://trailblazer.to/" target="_blank" rel="noopener noreferrer" Trailblazer
        li Pundit
        li grape
        li swagger

-# vim: spelllang=lv
