section.cf
  header
    h3.project-title Mogo iekšējā finanšu sistēma
  article
    .content
      p.period
        strong> Periods:
        | 2013.04.25 — 2015.08.31
      p Vissarežģītākais no projektiem &mdash; MOGO finanšu sistēma.
      p
        | Šī projekta ietvaros esmu piedalījies praktiski visu sistēmas moduļu
          izstrādē kopš projekta sākuma.
      p Daži no moduļiem kuru izstrādi esmu veicis:
      ul
        li Līgumsodu aprēķināšana
        li Dokumenu ģenerēšana
        li
          | Permisiju modulis (iespējas liegt modificēt pat konkrētus laukus
            formā lietotāju grupām)
        li Līgumu un apakšlīgumu loģika
        li Ļoti sarežģītu atskaišu ģenerēšana (ar perspektīvas datumu)
        li Dažādu nedokumentētu ārējo servisu integrēšana
      p Izaicinājumi:
      ul
        li Veiktspēja
        li Trūkstošo vai lieko centu medīšana sarežģītās formulās
        li Konfigurējamība
        li Koda sarežģītība un apmēri
        li Projekta ilgums
        li Sirmi mati
      p Tehnoloģijas:
      ul
        li
          a> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
          CMS
        li Ruby on Rails
        li Rspec
        li SASS
        li jQuery
        li MySQL
        li Redis
        li MongoDB
        li HAML
        li SOAP
        li REST API
