section.cf
  header
    h3.project-title Releaf satura vadības sistēma
  article
    img.pure-img alt="" src="/images/projects/releaf.jpg"
    .content
      p.link
        strong> Saite:
        a href="https://cubesystems.github.io/releaf/" target="_blank" rel="noopener noreferrer"
          | cubesystems.github.io/releaf
      p.period
        strong> Periods:
        | 2012-10-01 — 2018-11-29
      p
        | Tehniski interesantākais projekts - Ruby on Rails satura vadības
          sistēmas izstrāde (SVS).
      p Izmantotās tehnoloģijas:
      ul
        li MySQL
        li PostgreSQL
        li Ruby On Rails
        li Rspec
        li HAML
        li SCSS (SASS)
        li JQuery
        li git
      p Releaf ir atvērta pirmkoda projekts (izmanto BSD licensi).
