---
show_in_menu: true
menu_title: 'Portfolio'
menu_priority: 90
lang_root: true
page_title: Aldis Berjoza - Portfolio
changefreq: monthly
priority: 0.7
meta_description: 'Alda Berjozas project portfolio'
page_id: portfolio
---
main.projects
  h2 Portfolio
  p.page-description Daži no projektiem, kuru izstrādē esmu piedalījies ir minēti zemāk.

  == render_partial('/en/portfolio/_eleving.slim')
  == render_partial('/lv/portfolio/_evolution_gaming.slim')
  == render_partial('/lv/portfolio/_h5property.slim')
  == render_partial('/lv/portfolio/_cake_hr.slim')
  == render_partial('/lv/portfolio/_nameswitch.slim')
  == render_partial('/lv/portfolio/_mogo.slim')
  == render_partial('/lv/portfolio/_releaf.slim')
  == render_partial('/lv/portfolio/_latio.slim')
  == render_partial('/lv/portfolio/_dnb.slim')
  == render_partial('/lv/portfolio/_american_express.slim')
  == render_partial('/lv/portfolio/_elbook.slim')
  == render_partial('/lv/portfolio/_air_baltic.slim')
  == render_partial('/lv/portfolio/_baltcom.slim')
  == render_partial('/lv/portfolio/_zfsnap.slim')
