@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		url('/fonts/Roboto_500.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_500.woff') format('woff'),
		url('/fonts/Roboto_500.woff2') format('woff2'),
		url('/fonts/Roboto_500.svg#Roboto') format('svg')
}
