@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_400.woff') format('woff'),
		url('/fonts/Roboto_400.woff2') format('woff2'),
		url('/fonts/Roboto_400.svg#Roboto') format('svg')
}
