section.cf
  header
    h3.project-title AirBaltic Homepage Frontend
  article
    img.pure-img alt="" src="/images/projects/air_baltic.jpg"
    .content
      p.link
        strong> Site:
        a href="https://www.airbaltic.com/en-GB/index" target="_blank" rel="noopener noreferrer" airbaltic.com
      p.period
        strong> Period:
        | 2012-11-27 — 2013-01-03
      p
        | I was asked to help out with design slicing, since project was
          reaching deadline.
      p
        | The greatest challenge in this project was the front page menu on
          which I had to spend quite a lot of hours to make it look and work as
          intended (The current AirBaltic homepage menu is much more simple
          than the one I originally developed).
      p Technologies used:
      ul
        li Ruby On Rails
        li SCSS
        li jQuery
        li SQLite
        li sh
        li git
