section.cf
  header
    h3.project-title Baltcom Intranet
  article
    .content
      p.period
        strong> Period:
        | 2012-03-23 — 2013-02-19
      p Internal document management system for Baltcom.
      p Features:
      ul
        li Hierarchical document management
        li Document versioning
        li Document version comparison
        li Fine gradient permission controller (per group, per user)
        li E-mail notifications for created/updated documents
        li User action logs
      p Technologies:
      ul
        li Ruby on Rails
        li Mysql
        li HAML
        li CSS
        li jQuery
        li CoffeeScript
