section.cf
  header
    h3.project-title CakeHR - Human Resources Management
  article
    img.pure-img alt="" src="/images/projects/cake_hr.jpg"
    .content
      p.link
        strong> Site:
        a href="https://cake.hr/" target="_blank" rel="noopener noreferrer" cake.hr
      p.period
        strong> Period:
        | 2016-01-17 — 2017-04-17
      p
        | I joined CakeHR project as Lead Developer to help develop new
          features, refactor old code, review new code, fix issues and improve
          overall code quality.
      p
        | Most challenging aspect of this project was refactoring code to
          improve code quality and maintainability.
      p Some of most interesting things I did:
      ul
        li Entirely refactored and standardized frontend
        li
          | Developed performance module (employee reviews, goals, development
            plans, review generation etc.)
        li Developed company org-chart display and hierarchy management
        li Developed object change log for auditing purposes
        li Refactored a lot of backend code
      p Technologies:
      ul
        li Ruby on Rails
        li ActiveAdmin
        li PostgreSQL
        li MongoDB
        li SASS (SCSS)
        li git
        li sidekiq
        li MaterializeCSS
        li jQuery
        li d3.js
