section.cf
  header
    h3.project-title elbook - DNB Bank Intranet
  article
    .content
      p.period
        strong> Period:
        | 2011-09-27 — 2013-02-14
      p
        | My first project at Cube Systems was internal document management
          system for DNB bank.
      p
        | We created new systems from ground up and created script to import
          thousands of old documents in a way that merged localised documents
          and preserved old structure.
      p
        | In addition, we implemented complex hierarchical permission
          mechanisms (per group, per user).
      p
        | However the most complex feature was document preview. We created
          service that converted documents to normalised HTML format and
          provided preview and automatic related document linking features.
      p Features:
      ul
        li Document preview
        li Automatic related document linking
        li Document tree
        li Document versioning
        li Complex file access permissions
      p Technologies:
      ul
        li Ruby on Rails
        li OpenOffice
        li MySQL
        li HAML
        li CSS
        li git
