section.cf
  header
    h3.project-title Eleving
  article
    .content
      p.link
        strong> Site:
        a href="https://eleving.com/" target="_blank" rel="noopener noreferrer"
          | eleving.com
      p.period
        strong> Period:
        | 2021-04-20 — presently
      p
        | As of April 2021, I've joined Eleving as a Linux Administrator/DevOps

      p My daily routine includes:
      ul
        li writing quality server configurations in Ansible
        li reacting to all sorts of issues
        li managing server infrastructure with Terraform
        li communicating with development teams to deploy new or improved features
        li migrating services from AWS to Azure
        li reducing technical debt
        li improving service security
        li communicating with 3rd parties to help solve common problems

      p Stuff that I use daily:
      ul
        li Ansible
        li Terraform
        li git
        li gitlab/gitlab-ci
        li Prometheus/Grafana/Alertmanager
        li Loki
        li AWS
        li Azure
        li CentOS
        li Debian
        li PostgreSQL
        li MySQL
        li nginx
        li and much, much more
