section.cf
  header
    h3.project-title Evolution
  article
    .content
      p.link
        strong> Site:
        a href="https://www.evolution.com/" target="_blank" rel="noopener noreferrer"
          | evolution.com
      p.period
        strong> Period:
        | 2017-11-13 — 2021-04-19

      p Some of the things I did during this time:
      ul
        li Maintained approximately 120 production and test servers
        li Supported approximately 1800 diskless servers
        li Built OS for diskless servers
        li Created dynamic environments for Encoding Team
        li Created dynamic environments for Video Distribution Team
        li Implemented metrics collection of all servers that I maintained
        li Significantly simplified deployment process
        li Reduced update deployment from around 25 to approximately 3 minutes
        li Implemented simplified Jenkins pipelines
        li Dramatically refactored diskless OS image build process
        li Supported team in all Linux related things
        li Deployed PostgreSQL HA clusters
        li Worked closely with other departments (tier2, NOC, ProdOps, SRE, InfoSec, Service Managers etc)
