section.cf
  header
    h3.project-title H5 property order processing system
  article
    .content
      p.period
        strong> Period:
        | 2017-05-01 — 2017-10-31
      p
        | I was hired by
        a<> href="http://www.fjordsoftware.eu/" target="_blank" rel="noopener noreferrer" Fjord Software
        | as Senior Ruby on Rails Developer to help develop order processing system for one of
          Norwegian leading Real Estate marketing solutions provider &mdash;
        a< href="https://h5property.com/" target="_blank" rel="noopener noreferrer" H5 Property
        | .

      p
        | My biggest challenge at the beginning was to understand old code
          because I couldn't get a hold of previous developer. Luckily I could
          easily get information about business needs and how they developed.

      p
        | Knowing how business needs developed helped a lot, but there was huge
          amount of fragile code that I had to modify.

      p Here's what I managed to do within just 6 months:
      ul
        li
          | Migrated authorization from CanCanCan gem to Pundit gem which further
            increased development speed and reduced chance of unexpectedly
            breaking some permissions. This change also simplified authorization
            code auditing if required.
        li Implemented billing system.
        li
          | Created integration with
          a< href="https://quickbooks.intuit.com/global" target="_blank" rel="noopener noreferrer" Quickbooks
          | .
        li
          Integrated
          a<  href="https://www.tripletex.no/" target="_blank" rel="noopener noreferrer" Tripletex
          | .
        li
          | Convicted business to move data from Amazon EBS to S3 to cut
            operation costs by more than 50%.
        li
          | Implemented code that allowed migrating over 3TB of files from
            server to Amazon S3, without system/client interruption.
        li Created foundation for API v2 which had fine gradient permissions control.
        li
          | Implemented audit log. I also figured out pretty smart way how to
            create ordered event timeline based on audit log, however I didn't
            implement it because I left the company.
        li Adopted some trailblazer patterns (Cells, form objects, operations etc.)
        li Implemented image recognition using Google Vision API.
        li Improved system performance in various critical services.
        li and much more

      p Technologies:
      ul
        li Ruby on Rails
        li Mysql
        li SASS (SCSS)
        li git
        li sidekiq
        li jQuery
        li ImageMagick
        li
          a href="http://trailblazer.to/" target="_blank" rel="noopener noreferrer" Trailblazer
        li Pundit
        li grape
        li swagger
