section.cf
  header
    h3.project-title Latio Homepage
  article
    img.pure-img alt="" src="/images/projects/latio.jpg"
    .content
      p.link
        strong> Site:
        a href="http://latio.lv/en" target="_blank" rel="noopener noreferrer" latio.lv
      p.period
        strong> Period:
        | 2014-01-29 — 2014-07-11
      p Technologies:
      ul
        li
          a> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
          | CMS
        li Ruby on Rails
        li Rspec
        li MySQL
        li HAML
        li CSS
        li jquery
        li git
      p
        | An interesting aspect of this project was that it was literally build
          on top of the old CMS.
      p Due to constantly changing content we had to implement heavy caching mechanisms.
