section.cf
  header
    h3.project-title Mogo Internal Accounting System
  article
    .content
      p.period
        strong> Period:
        | 2013-04-25 — 2015-08-31
      p The most complex project I've worked on - MOGO financial system.
      p
        | During this project I've been participating in development of almost
          all modules since the beginning of the project.
      p Some of modules that I've been working on are:
      ul
        li Fine calculations
        li Document generations
        li Permissions (possible to even disable certain field editing for user groups)
        li Agreement and subagreement logic
        li Very complex reports (with perspective data)
        li Integration of various undocumented 3rd party services
      p Challenges:
      ul
        li Performance
        li Missing or extra cents hunting in complex algorithms
        li Customisation
        li Code complexity and size
        li Overall project length
        li Gray hair
      p Technologies:
      ul
        li
          a> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
          | CMS
        li Ruby on Rails
        li Rspec
        li SASS
        li jQuery
        li MySQL
        li Redis
        li MongoDB
        li HAML
        li SOAP
        li REST API
