section.cf
  header
    h3.project-title Nameswitch
  article
    img.pure-img alt="" src="/images/projects/nameswitch.jpg"
    .content
      p.link
        strong> Site:
        a href="https://www.nameswitch.co.uk" target="_blank" rel="noopener noreferrer" nameswitch.co.uk
      p.period
        strong> Period:
        | - 2016-01-17 — 2016-11-11
      p
        | One of the first projects I did at Mosties was system to help people with
          paperwork related to name change in UK.

      p
        | The general idea is that when client needs to change
          name/surname/gender they can buy a package that will allow filling
          relevant forms automatically after entering basic details such as old
          name, new name, address etc.

      p
        | When the details are filled, client selects for which companies and
          government institutions they need to send applications and all the
          specific forms will be filled for client automatically and optionally
          printed and shipped to client.

      p
        | This saves a lot of time searching for forms from all involved
          parties, instead it's all available in one place.

      p
        | The most challenging aspect of this project was to create flexible
          means to fill out various different stock PDF forms.

      p Technologies:
      ul
        li Ruby on Rails
        li ActiveAdmin
        li PostgreSQL
        li sidekiq
        li jQuery
        li some more secret sauce
