section.cf
  header
    h3.project-title Releaf Content Management System
  article
    img.pure-img alt="" src="/images/projects/releaf.jpg"
    .content
      p.link
        strong> Site:
        a href="https://cubesystems.github.io/releaf/" target="_blank" rel="noopener noreferrer"
          | cubesystems.github.io/releaf
      p.period
        strong> Period:
        | 2012-10-01 — 2018-11-29
      p Technically the most interesting project - Ruby on Rails content management system (CMS)
      p Technologies:
      ul
        li MySQL
        li PostgreSQL
        li Ruby On Rails
        li Rspec
        li HAML
        li SCSS (SASS)
        li JQuery
        li git
      p
        a> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
        | is fully open sourced project (licensed under MIT license).
