---
show_in_menu: true
menu_title: 'Portfolio'
menu_priority: 90
lang_root: true
page_title: Aldis Berjoza - Portfolio
changefreq: monthly
priority: 0.7
meta_description: 'Project portfolio of Aldis Berjoza'
page_id: portfolio
---
main.projects
  h2 Portfolio
  p.page-description Some projects that I developed are listed below (in non-strict order):

  == render_partial('/en/portfolio/_eleving.slim')
  == render_partial('/en/portfolio/_evolution_gaming.slim')
  == render_partial('/en/portfolio/_h5property.slim')
  == render_partial('/en/portfolio/_cake_hr.slim')
  == render_partial('/en/portfolio/_nameswitch.slim')
  == render_partial('/en/portfolio/_mogo.slim')
  == render_partial('/en/portfolio/_releaf.slim')
  == render_partial('/en/portfolio/_latio.slim')
  == render_partial('/en/portfolio/_dnb.slim')
  == render_partial('/en/portfolio/_american_express.slim')
  == render_partial('/en/portfolio/_elbook.slim')
  == render_partial('/en/portfolio/_air_baltic.slim')
  == render_partial('/en/portfolio/_baltcom.slim')
  == render_partial('/en/portfolio/_zfsnap.slim')
