doctype html
html lang=current_locale
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    title= page_title(item)
    link rel="stylesheet" media="all" href="/stylesheets/app.css"
    link rel="icon" type="image/png" href="/favicon.png"
    link rel="canonical" href="#{config[:base_url]}#{item.path}"
    - if item[:meta_description]
      meta name="description" content=metadata_value(item, :meta_description, 'meta_description')
    meta name="google-site-verification" content="QO6UM0sZBAElTa2ceHX1DXfw3LpiG4uaz8MUPCTPSR4"
    meta name="msvalidate.01" content="5976E925BF4EC6C5A654E1017D117874"
    == content_for(item, "head-#{rep.name}")
  body data-locale=current_locale
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        header
          img.thumb src="/images/thumb.jpeg" atl=""
          h1.brand-title Aldis Berjoza
          h2.brand-tagline= t('occupation')
          .social-links.pure-menu.pure-menu-horizontal
            ul
              li.pure-menu-item
                a.pure-menu-link href="https://gitlab.com/graudeejs" title="Gitlab" target="_blank" rel="noopener noreferrer"
                  i.fa.fa-gitlab.fa-2x

              li.pure-menu-item
                a.pure-menu-link href="https://www.linkedin.com/in/graudeejs" title="LinkedIn" target="_blank" rel="noopener noreferrer"
                  i.fa.fa-linkedin.fa-2x

              li.pure-menu-item
                a.pure-menu-link href="/keys/gpg.txt" title=t('gpg_public_key') target="_blank" rel="noopener noreferrer"
                  i.fa.fa-key.fa-2x

              li.pure-menu-item
                a.pure-menu-link href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2FxQW_ufMkGE20UrTlBl8QqceG1tbuylXhr9VOLPyRJmw%3D%40smp1.simplexonflux.com%2FGUBmytbPSqXM2RmhABET69Mw4mvZvgZ2%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAcphAH8uGnYTvspJ4HK0rDYvjN5G4UW6yDe8q7Gz4bz8%253D%26srv%3Dqb4yoanyl4p7o33yrknv4rs6qo7ugeb2tu2zo66sbebezs4cpyosarid.onion" title=t('contact_simplex') target="_blank" rel="noopener noreferrer nofollow"
                  i.fa.fa-comments-o.fa-2x

      .content-container.pure-u-1.pure-u-md-3-4
        .content
          menu.pure-menu.pure-menu-horizontal
            ul.pure-menu-list
              - menu_items.each do |menu_item|
                li.pure-menu-item class=(menu_item == item ? 'pure-menu-selected' : nil)
                  a.pure-menu-link href=menu_item.path
                    = menu_title(menu_item)

            ul.pure-menu-list.locales
              - lang_roots.each do |lang_root|
                - locale = locale_of(lang_root)
                li.pure-menu-item class=(current_locale == locale ? 'pure-menu-selected' : nil)
                  a.pure-menu-link href=((find_alt_lang_item(locale) || lang_root).path) = locale

          == yield
