// https://css-tricks.com/seamless-responsive-photo-grid/
.my-gallery {
  line-height: 0;
  column-count:         5;
  column-gap:           0;

  position: absolute;
  margin: 0 3em 0 3em;
  padding-bottom: 50px;
  width: calc(100% - 6em);
  left: 0;
  right: 0;

  figure {
      /* Just in case there are inline attributes */
      margin: 0;
      padding: 0.1em;
      width: 100% !important;
      height: auto !important;
      // overflow:hidden;
      overflow: hidden;
      img {
        width: 100%;
      }
  }
}
@media (max-width: 120em) {
  .my-gallery {
    column-count: 4;
  }
}
@media (max-width: 60em) {
  .my-gallery {
    column-count: 3;
  }
}
@media (max-width: 48em) {
  .my-gallery {
    padding: 0;
    margin-left:0;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 37em) {
  .my-gallery {
    column-count: 2;
  }
}
@media (max-width: 25em) {
  .my-gallery {
    column-count: 1;
    figure {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
