.projects {
  .page-description {
    font-size: 12px;
    color: #666;
  }

  .page-description + section .project-title {
    padding-top: 0;
  }

  main {

    h2 {
      &, a, a:focus, a:active, a:hover, a:visited {
        color: #333333;
        text-decoration: none;
      }

      border-bottom: 1px solid #dddddd;
      padding-bottom: 0.3em;
      padding-top: 1.5em;
    }

  }

  article {
    > img {
      float: left;
      width: 200px;
      margin-right: 2em;
      margin-bottom: 0.5em;
    }

    text-align: justify;

    ul {
      display: inline-block;
      margin-top: 0;
    }

    .link {
      white-space: nowrap;
      * {
        word-wrap: break-word;
        white-space: normal;
      }
    }

    @media (max-width: 500px) {
      > img {
        float: none;
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .projects {
    .page-description {
      color: #999;
    }
  }
}
