body {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #292a2d;
    color: #cecece;
  }
}


.cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
h1, h2, h3 {
  font-weight: 500;
}
h2.brand-tagline {
  font-width: 400;
}

code {
  font-size: 0.7em;
  font-weight: 500;
  width: 100%;
  padding: 0.5em;
  border: 1px solid gray;
  margin: 0.5em 0 1em;
  display: block;
}
.code-description {
  font-size: 0.6em;
  color: #545454;
  margin-bottom: 0;
}
@media (prefers-color-scheme: dark) {
  .code-description {
    color: #d8d8d8;
  }
}

.page-under-construction {
    text-align: center;

    h2.content-subhead {
        color: #dd0000;
    }

    img {
        margin: 0 auto;
    }
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

b, strong {
  font-weight: 500;
}


.sidebar
{
  background-color: #1D3E69;
  color: #8BC4E3;
  text-align: center;

  h1 {
    color: #ffffff;
  }
}

menu
{
  margin-top: 0;
  text-align: center;
  padding: 0;
  ul {
    white-space: normal;
  }
  a {
    transition: all 0.5s;
  }
}

.social-links
{
  ul {
    padding: 0;
  }

  .pure-menu-link {
    font-size: 0.9em;
    transition: all 0.5s;
    &, &:focus {
      color: #8BC4E3;
      background-color: transparent;
    }

    &:hover,
    &:active {
      color: #ffffff;
      background-color: transparent;
    }

    &.link-to-cv {
      font-size: 24px;
      font-weight: 500;
      padding: .5em .4em;
    }
  }
}

main {
  max-width: 800px;
}

main a {
  color: #1B64C2;
  text-decoration: none;
  transition: all 0.5s;

  &:hover,
  &:focus {
    color: #1bb6c1;
  }
}

@media (prefers-color-scheme: dark) {
  main a {
    color: #6faeff
  }
}

.content-container {
  padding: 0.3em 2em 2em 2em;

  > .content {
    max-width: 800px;
  }
}

.locales {
  position: absolute;
  top: 0;
  right: 0;

  .pure-menu-item {
    .pure-menu-link {
      color: #ffffff;
      text-transform: uppercase;
      &:hover {
        background-color: #8BC4E3;
      }
    }
  }

  .pure-menu-selected .pure-menu-link {
    font-weight: 700;
  }
}

.thumb {
  border-radius: 100%;
  margin: 2em 2em 1em 2em;
  margin-bottom: 1em;
  max-width: 300px;
  width: 100%;
  border: 0.2em solid rgba(255,255,255,0.5);
}

#layout {
  margin-bottom: 5em;
}

@media (min-width: 48em) {
  .thumb {
    margin: 0 0 1em 2em;
    width: calc(100% - 2em);
    max-width: 180px;
  }

  menu {
    text-align: left;
  }

  .content-container {
    padding: 0 3em 0;
    margin-left: 25%;
    position: relative;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    header {
      margin: 2em 2em 0 2px;
      text-align: right;
    }
  }

  .content-container menu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    position: relative;
    padding-left: 0;
    margin-left: 0;
  }

  .social-links ul {
    white-space: normal
  }

  .locales {
    .pure-menu-item .pure-menu-link {
      color: #777;
      &:hover {
        background-color: #eee;
      }
    }
    .pure-menu-selected .pure-menu-link {
      color: #000000;
      font-weight: initial;
    }
  }
}
@media (prefers-color-scheme: dark) and (min-width: 48em) {
  .content-container menu {
    border-bottom: 1px solid #777;
  }
  .locales {
    .pure-menu-item .pure-menu-link {
      color: #777;
      &:hover {
        background-color: #1e2127;
      }
    }
    .pure-menu-selected .pure-menu-link {
      color: #dedede;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .content-container {
    .pure-menu-item .pure-menu-link {
      color: #777;
      &:hover {
        background-color: #1e2127;
      }
    }
    .pure-menu-selected {
      .pure-menu-link {
        &, &:visited {
          color: #dedede;
        }
      }
    }
  }
}

@media (max-width: 32em) {
  .thumb {
    max-width: 180px;
  }

  .sidebar {
    padding-top: 2em;
  }

  .social-links {
    width: 80%;
    white-space: normal;
    margin: 0 auto;
  }
}
